<main>
    <h4>We will help find you pizza using the Foursquare API!</h4>

    <p><em>Please allow this site access to your location.</em></p>
    <p><strong>Lookup will take a few seconds after you allow access.</strong></p>
    <p>This site will default to the address of Peet's coffee in Berkeley, CA if location access is not allowed.</p>

    <br>
    <button class='btn btn-default' id='launchLoc'>Find location</button>
    <br>
    <br>

    <ul class='location-list'>
        <br>
        <li class='location-list-item'><strong>Latitude:</strong> {{lat}}</li>
        <li class='location-list-item'><strong>Longituge: </strong>{{long}}</li>
        <li class='location-list-item'><strong>Formatted Address: </strong>{{address}}</li>
        <br>
    </ul>

    <p>Results will be shown below once available:</p>
    <br>

    {{#each places as |place|}}
    <ul class='pizza-list'>
        <li class='pizza-list-item'><strong>{{place.name}}</strong></li>
        <li class='pizza-list-item'>{{place.address}}</li>
        <li class='pizza-list-item'><a class='tel-link' href='tel:+1{{place.phone}}'><strong>Tap/click this text to dial: {{place.formattedPhone}}</strong></a></li>
        <br>
    </ul>
    {{/each}}
</main>

{{yield}}
